---
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import '../styles/globals.css';
import Formulario from "@components/Formulario.astro";

// Lista de prisioneros
const prisioneros = [
  { id: 1, nombre: "Jorge", apellido: "Pheifezer", genero: "Masculino", edad: 32, conducta: "Sin problemas", crimen: "Estafa", sentencia: "2 meses"},
  { id: 2, nombre: "Juan", apellido:"Juan", genero:"Masculino", edad: 27, conducta: "Problematico", crimen:"Asesianto",sentencia: "58 años"},
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de Prisioneros</title>
  </head>
  <body class="bg-green-gradient min-h-screen">
    <Header />

    <!-- Título -->
    <main class="text-white mx-4 my-8">
      <h1 class="text-4xl text-center mb-6 titulo">Gestión de Prisioneros</h1>
      
      <!-- Cards de prisioneros -->
      <div class="grid gap-6 grid-cols-1 py-8 md:grid-cols-2 lg:grid-cols-3">
        {prisioneros.map(prisionero => (
          <Card 
            nombre={prisionero.nombre} 
            apellido={prisionero.apellido} 
            genero={prisionero.genero} 
            edad={prisionero.edad} 
            conducta={prisionero.conducta}
            crimen={prisionero.crimen}
            sentencia={prisionero.sentencia}
          />
        ))}
      </div>

      <!-- Botón para añadir prisionero -->
      <button id="add-btn" class="flex py-2 px-4 my-4 rounded-lg border-2 border-lime-300 bg-lime-600 text-white hover:bg-lime-700 transition">
        Añadir prisionero
      </button>

      <!-- Formulario -->
      <Formulario id="formulario-prisionero" />

    </main>
  </body>
</html>

<style>
  #add-btn {
    align-items: center;
  }
</style>

